/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   #Content bottom styles - begin
   ========================================================================== */
.eltd-content-bottom .eltd-content-bottom-inner {
  box-sizing: border-box;
}

.eltd-content-bottom .eltd-content-bottom-inner.eltd-grid {
  padding: 20px 0;
}

.eltd-content-bottom .eltd-content-bottom-inner.eltd-full-width {
  padding: 20px 40px;
}

/* ==========================================================================
   #Content bottom styles - end
   ========================================================================== */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.eltd-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  box-sizing: border-box;
}

.eltd-page-footer .eltd-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.eltd-page-footer .eltd-footer-top-holder .eltd-footer-top-alignment-center {
  text-align: center;
}

.eltd-page-footer .eltd-footer-top-holder .eltd-footer-top-alignment-left {
  text-align: left;
}

.eltd-page-footer .eltd-footer-top-holder .eltd-footer-top-alignment-right {
  text-align: right;
}

.eltd-page-footer .eltd-footer-top-holder .eltd-footer-top-inner {
  box-sizing: border-box;
}

.eltd-page-footer .eltd-footer-top-holder .eltd-footer-top-inner.eltd-grid {
  padding: 117px 0;
}

.eltd-page-footer .eltd-footer-top-holder .eltd-footer-top-inner.eltd-full-width {
  padding: 117px 40px;
}

.eltd-page-footer .eltd-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #f7f7f7;
  border-top: 1px solid #b8b8b8;
  box-sizing: border-box;
  text-align: left;
}

.eltd-page-footer .eltd-footer-bottom-holder .eltd-footer-bottom-inner {
  box-sizing: border-box;
}

.eltd-page-footer .eltd-footer-bottom-holder .eltd-footer-bottom-inner.eltd-grid {
  padding: 7px 0;
}

.eltd-page-footer .eltd-footer-bottom-holder .eltd-footer-bottom-inner.eltd-full-width {
  padding: 7px 40px;
}

.eltd-page-footer .eltd-footer-bottom-holder .eltd-footer-bottom-inner .textwidget {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
